<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body ">
      <h1 class="text-center my-2">Account Login</h1>

      {{#if error}}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        {{error}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {{/if}}

      <form action="/login" method="POST" class='text-center"'>
        <div class="form-group mb-2 mx-4">
          <input type="email" id="email" name="email" class="form-control my-4 py-4" placeholder="Email">

          <input type="password" id="password" name="password" class="form-control my-4 py-4" placeholder="Password">
          <div class='text-center'>
            <button type="submit" class="mt-4 btn btn-outline-secondary mt-3"> Sign in </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>